/* Reset  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

body, html {
    scroll-behavior: smooth;
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  = = = ./CSS Reset  = = =    */

.wrapper{
    width: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
    background-color: #000;
    color: #FFFFFF;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    /* width: 100%; */
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: green; */
}

.main{
  flex: 1 1 auto;  
}

.line__around-title{
    /* text-align: center;   */
    width: 100%;          
    /* margin: 0 auto;       */
    /* overflow: hidden; */
}

.title{
    position: relative;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 2;
    text-align: center;
    color: #BDAE82;
    max-width: 700px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

.inner{
    padding-top: 100px;
}

/*  = = =  H e a d e r = = =  */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo__icon{
    fill: #fff;
    width: 50px;
    height: 40px;
}
.logo__icon:hover{
    fill: #BDAE82;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu {
    display: flex;
}
.menu__list {
    display: flex;
}
.menu__list-title {
    padding-right: 31px;
}
.menu__list-title:last-child {
    padding-right: 31px;
}
.link__menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5;
    color: #FFFFFF;

    text-decoration: none;
}
.link__menu:hover{
    transition: .2s linear;

    color: #BDAE82;
}
.selection{
    display: flex;
}
.selection__language {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.5;

    text-align: center;
    color: #FFFFFF;

    text-decoration: none;
}
.language:first-child{
    color: #BDAE82;
}
.divider {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.5;

    text-align: center;
    color: #FFFFFF;

    padding: 0px 10px;

    transform: rotate(-15deg);
}

/*  = = =  H e r o = = =  */

.hero{
    height: 910px;
    background: #000000 url(./assets/img/Header/bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}
.hero__inner {
    margin: 0 auto;
    /* width: 100%; */
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.hero__title-name {
    padding-top: 18.5%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 2;

    color: #FFFFFF;
}
.hero__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    max-width: 35%;

    padding-top: 8px;
}
.hero__hire-me {
    background-color: #BDAE82;
    width: 220px;
    border-radius: 0px;
    margin-top: 27px;
    
    /* margin-bottom: 5px; */
    text-decoration: none;
    padding: 6px 0px 7px;
}
.hero__me-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;

    text-align: center;

    color: #000000;
    padding: 0 72px;
}
.hero__me-title:hover{
    color: #fff;

    transition: .2s linear;
}

/*  = = =  S k i l l s = = =  */

.skills{
    min-height: 482px;
}
.skills__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/* .skills__title{
    margin: 0 auto;
} */
.skills__title:before{
    display: block;  
    width: 39.2%;                    
    content: '';                    
    position: absolute;   
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    left: 0%;
}
.skills__title::after{
    display: block;                 
    width: 39.1%;                    
    content: '';                    
    position: absolute;            
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    right: 0%;
}

.skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0 -20px; */
    margin: 0 auto;
    padding-top: 60px;
    width: 100%;
}
.skills__card {
    /* padding: 0 20px; */
    margin: 0 auto;
    width: 25%;
    text-align: center;
}
/* .skills__card-item {
    text-align: center;
} */
.card__image {
    height: 50px;
    width: 100px;
}
.skills__card-title {
    margin-top: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 2;

    color: #FFFFFF;
}
.skills__card-subtitle {
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;

    color: #FFFFFF;
    /* padding-left: 18px; */
}
/* .skills__card-subtitle:last-child{
    max-width: 280px;
} */

/*  = = =  P o r t f o l i o = = =  */

.portfolio{
    min-height: 1500px;
}
/* .portfolio__title{
    text-align: center;
    width: 50%;
    margin: 0 auto;
} */
.portfolio__title:before{
    display: block;  
    width: 34%;                    
    content: '';                    
    position: absolute;   
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    left: 0;
}
.portfolio__title::after{
    display: block;                 
    width: 34.3%;                    
    content: '';                    
    position: absolute;            
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    right: 0;
}
.portfolio__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.portfolio__link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* max-width: 894px; */
}
.portfolio__btns {
    margin-top: 60px;
    width: 216px;
    height: 44px;
    margin-right: 4px;

    text-decoration: none;
    text-align: center;
    padding-top: 6px;

    border: 2px solid #BDAE82;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    color: #BDAE82;
}
.portfolio__btns:last-child{
    margin-right: 0;
}
.portfolio__btns:hover{
    background-color: #BDAE82;
    border: 2px solid #BDAE82;

    color: #FFFFFF;

    transition: .2s linear;
}
.btn__title{
    padding-left: 4px;
}
.btn__title:hover{
    color: #000;

    transition: .2s linear;
}
.inner__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 36px;
}
.item__image {
    margin-top: 25px;
}

/*  = = =  V i d e o = = =  */

/* .video{
    min-height: 945px;
} */
.player{
    padding-top: 60px;
}
/* .video__title{
    margin: 0 auto;
} */
.video__title:before{
    display: block;  
    width: 39%;                    
    content: '';                    
    position: absolute;   
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    left: 0;
}
.video__title::after{
    display: block;                 
    width: 38.7%;                    
    content: '';                    
    position: absolute;            
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    right: 0;
}
/* .video__content {
    position: relative;
    
    background-image: url(./assets/img/Video/videoPlayer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;

    height: 705px;
} */
.bgvideos{
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
}
.play__icon{
    position: absolute;
    padding-top: calc(20% - 64px);
    left:calc(50% - 64px);
    max-width: 128px;
    height: auto;

    fill: #fff;
}
.play__icon:hover{
    fill: #BDAE82;

    transition: .2s linear;
}
/*  = = =  P r i c e = = =  */

.price{
    min-height: 845px;
}
/* .price__title{
    margin: 0 auto;
} */
.price__title:before{
    display: block;  
    width: 39.89%;                    
    content: '';                    
    position: absolute;   
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    right: 60.2%;
}
.price__title::after{
    display: block;                 
    width: 39.8%;                    
    content: '';                    
    position: absolute;            
    top:48%; 
    background: #BDAE82;
    border-radius: 0px;   
    height: 2px;  
    right: 0.5px;
}
.price__content {
    margin-top: 60px;
}
.price__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.price__card-item {

    border: 3px solid #BDAE82;
    border-radius: 0px;
    width: 444px;
    height: 499px;

    margin-right: 15px;
}
.price__card-item:last-child {
    margin-right: 0;
}
.price__card-title {
    margin-top: 40px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 2;
    text-align: center;

    color: #FFFFFF;
}
.price__service {
    margin-top: 22px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
    text-align: center;

    color: #BDAE82;
}
.price__card-text{
    margin-top: 20px;
    margin-bottom: 45px;
}
.price__card-describe {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    text-align: center;

    color: #FFFFFF;
}
.price__btn {
    border: 1px;
    border-radius: 0px;

    background-color: #BDAE82;
    /* width: 220px; */
    border-radius: 0px;
    margin-top: 27px;
    text-decoration: none;
    padding: 20px 0px 18px;
}
.btn__title-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    text-align: center;

    color: #000;
    padding: 40px;
}
.btn__title-price:hover{
    color: #fff;

    transition: .2s linear;
}

/*  = = =  C o n t a c t s  = = =  */

.contacts{
    min-height: 700px;
    background-image: url(/assets/img/Contacts/contacts.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}
.contacts__inner {
    /* position: relative; */
    padding-top: 60px;
    display: flex;
    justify-content: end;

}
.contacts__content {
    display: flex;
    flex-direction: column;
    width: 450px;
    /* position: absolute; */
    /* right: 0; */
}
.contacts__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    /* identical to box height, or 200% */
    color: #BDAE82;
    padding-bottom: 40px;
}
.email {
    margin-bottom: 20px;
    padding-left: 19px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 4px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    /* or 200% */
    color: #BDAE82;
}
/* .email:hover{
    background-color: red;
} */
.phone {
    margin-bottom: 20px;

    padding-left: 19px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 4px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    /* or 200% */
    color: #BDAE82;
}
.message{
    padding-left: 19px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    border-radius: 0px;
    padding-top: 2px;
    padding-bottom: 55px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    /* or 200% */
    color: #BDAE82;
}
.send__title {
    margin-top: 29px;
   
    background: #BDAE82;
    border: 2px solid #BDAE82;
    border-radius: 0px;
    padding: 5px 39px ;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    /* or 200% */
    color: #000;
}
.send__title:hover{
    cursor: pointer;
    color: #fff;

    transition: .3s linear;
}

/*  = = =  F o o t e r = = =  */

.footer {
    min-height: 150px;
    /* background-color: #85de; */
}
.footer__inner {
    /* background-color: greenyellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 55px;
}
.footer__content {
    width: 33.3333%;
    text-align: center;
}
.footer__data {
    display: flex;
    justify-content: start;
    align-items: center;
}
.copyrite__icon {
    width: 15px;
    height: 15px;
    fill: #FFFFFF;
}
.year {
    padding: 0 20px 0 22px;

    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    color: #FFFFFF;
}
.link__github {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    color: #FFFFFF;

    text-decoration: none;
}
.title__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    color: #FFFFFF;

}
.social__list {
    display: flex;
    justify-content: end;
    height: 40px;
}
.social__item {
    width: 32px;
    height: 32px;
    padding-left: 20px;
    padding-top: 5px;
}
.social__icon-item {

    width: 27px;
    height: 27px;
    
    fill: #FFFFFF;
}
.social__icon-item:hover{
    fill: #CCBA8D;
}

/*     B U R G E R   M E N U 
      =======================    */

.burger{
    display: none;
    background: none;

    border: 0;
    cursor: pointer;
}
.burger__item{
    display: block;
    width: 35px;
    height: 2px;
    background-color: #BDAE82;
    opacity: 0.8;

    font-size: 0;
    color: transparent;
    position: relative;
}
.burger__item::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #BDAE82;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 1;
}  
.burger__item::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #BDAE82;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
}



    /*     M E D I A 
          ===========    */

@media(max-width:1420px){
    .price__card-item{
        width: 30%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .price__card-item:last-child {
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

@media(max-width: 1400px){
    
    .hero{
        max-height: auto;
        background-size: cover;
    }
    .item__image{
        width: 47%;
        padding: 10px;
    }
    .skills__card-subtitle{
        padding: 10px;
    }
}



@media(max-width: 992px){

    /*     B U R G E R - M E N U  
          =======================    */
    
    .menu{
        display: none;
    }
    .burger{
        display: block;
        margin-left: 15px;
    }
    .show {
        /* display: inline-block; */
        display: block;
        position: absolute;
        top: 100%;  
        height: 125px;
        left: 0.5%;
        /* margin-top: 220px; */
        padding: 5px;
        background-color: rgb(188, 224, 248);
        opacity: 0.9;
        width: 99%;
        text-align: right;
    }
    .hero{
        height: auto;
    }
    .hero__title-name{
        font-size: 48px;
        padding-top: 20%;
    }
    .hero__subtitle{
        font-size: 18px;
    }
    .hero__hire-me{
        margin-bottom: 10%;
    }

    /*    S K I L L S 
         =============    */

    .skills__card {
        width: 50%;
    }
    .skills__card-subtitle {
        padding: 10px;
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
    }
    .card__image{
        margin-top: 25px;
    }
    .skills__card-subtitle:last-child {
        text-align: center;
    }

    /*    P O R T F O L I O 
         =============    */

    .item__image{
        width: 46%;
        margin: 0 auto;
    }
    .price__card-item{
        width: 40%;
    }
    .portfolio__content{
        margin: 0 auto;
        width: 70%;
    }
    .portfolio__link{
        margin: 60px 0;
        justify-content: center;
    }
    .portfolio__btns{
        margin: 5px 0 5px 5px;
    }
    .contacts{
        background-size: cover;
    }   
    .play__icon{
        position: absolute;
        padding-top: calc(20% - 80px);
        left:calc(50% - 30px);
        max-width: 78px;
        height: auto;
    
        fill: #fff;
    }
}

@media(max-width: 768px){

    .container{
        max-width: 644px;
    }

    /*    H E R O 
         =============    */

    .hero {
        background-position-x: 150px;
    }     
    .hero__inner{
        margin-left: 0;
        /* max-width: 644px; */
    }
    .hero__title-name {
        padding-top: 16%;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
    }
    .hero__subtitle {
        font-size: 20px;
        line-height: 1.2;
        max-width: 60%;
    }
    .hero__hire-me{
        margin-top: 60px;
    }

     /*    S K I L L S 
         =============    */

    .inner {
        padding-top: 80px;
    }
    .skills__title{
        font-size: 32px;
    }
    .skills__title:before{
        width: 25%;
        left: 10%;
    }
    .skills__title:after{
        width: 25%;
        right: 10%;
    }

     /*    P O R T F O L I O  
         =============    */

    .portfolio__content{
        width: 100%;
    }
    .portfolio__btns{
        margin: 5px 0 5px 5px;
    }
    .portfolio__items{
        margin-top: 0;
    }
    .portfolio__title{
        font-size: 32px;
    }
    .portfolio__title:before{
        width: 25%;
        left: 10%;
    }
    .portfolio__title:after{
        width: 25%;
        right: 10%;
    }

    /*    V I D E O  
        =============    */

    .video__title{
    font-size: 32px;
    }
    .video__title:before{
        width: 25%;
        left: 13%;
    }
    .video__title:after{
        width: 25%;
        right: 13%;
    }
    .player{
        padding-top: 50px;
    }

    /*    P R I C E  
        =============    */

    .price__card-item{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .price__card-item:last-child {
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .price__title{
        font-size: 32px;
    }
    .price__title:before{
        width: 25%;
        left: 10%;
    }
    .price__title:after{
        width: 25%;
        right: 10%;
    }

    /*    C O N T A C T S  
         ==================  */

    .contacts{
        background-position-x: -250px;
    }
    .contacts__title{
        margin: 0 auto;
    }
    .contacts__content{
        margin: 0 auto;
    }
    .send__contact{
        margin: 0 auto;
    }

    /*    V I D E O  
         ============   */

   

    /*    F O O T E R  
         =============    */
  
    .footer__inner{
        /* width: 100%; */
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer__content{
        margin: 0 auto;
        padding: 10px;
        width: 170px;
    }
    .title__name{
        line-height: 1.4;
    }
}

@media(max-width: 576px){

    .inner{
        padding-top: 50px;
    }

    /*    S K I L L S 
         =============    */

    .skills__card{
        margin: 0 auto;
        width: 90%;
    }
    .skills__title:before{
        width: 20%;
        left: 10%;
    }
    .skills__title:after{
        width: 20%;
        right: 10%;
    }
    
    /* .card__image{
        margin-top: 15px;
        height: 40px;
    }
    .skills__card-title{
        font-size: 16px;
    }
    .skills__card-subtitle{
        font-size: 14px;
    } */

     /*    H E R O 
         =============    */

    .hero{
        background-size: calc(80% + 40%);
        background-position-x: -20px;
    }
    .hero__title-name{
        padding-top: 22%;
        font-size: 22px;
    }
    .hero__subtitle{
        font-size: 14px;
        max-width: 55%;
    }

    .hero__hire-me {
        padding: 0;
        text-align: center;
        width: 140px;
        margin-top: 45px;
    }
    .hire__me-title {
        font-size: 14px;
        padding: 0 30px;
    }

     /*    P O R T F O L I O 
         =============    */

    .portfolio__title{
        font-size: 32px;
    }
    .portfolio__title:before{
        width: 20%;
        left: 10%;
    }
    .portfolio__title:after{
        width: 20%;
        right: 10%;
    }
    .portfolio__btns{
        margin: 5px 0 5px 5px;
    }
    .item__image{
        width: 85%;
    }

     /*    V I D E O 
         =============    */

    .play__icon{
        width: 64px;
    }
    .video__title:before{
        width: 20%;
        left: 13%;
    }
    .video__title:after{
        width: 20%;
        right: 13%;
    }

     /*    P R I C E 
         =============    */

    .price__title:before{
    width: 20%;
    left: 13%;
    }
    .price__title:after{
        width: 20%;
        right: 13%;
    }
}

@media(max-width: 446px){


    .hero{
        background-size: calc(80% + 60%);
        background-position-x: 15px;
    }

    /* .hero__subtitle{
        max-width: 70%;
    } */
    .portfolio__title:before{
        width: 15%;
        left: 8%;
    }
    .portfolio__title:after{
        width: 15%;
        right: 8%;
    }
    .btn__title-price{
        padding: 15px;
    }
    .price__card-describe{
        line-height: 1.6;
    }
    .contacts__content{
        width: 260px;
        margin: 0 auto;
    }
}

@media(max-width: 376px){

    .hero__hire-me {
        margin-top: 15px;
    }
    .play__icon{
        width: 48px;
        padding-top: calc(20% - 70px);
        left:calc(50% - 14px);
    }
}